<!DOCTYPE html>

<html>

 <body>
  <h1><I>About the Blog</I></h1>
  <h3>
  	This is my first time to build a blog by Rails, and this blog is for demo purpose.
  </h3>
  <br>
  <dl>
  	<dt><b>Day 1:</b></dt>
      <dd>- 設定 Rails 運行環境</dd>
      <dd>- 建立 myblog 空專案，將 myblog 推至 github <a href="https://github.com/fira1026/myblog">repository</a></dd>
      <dd>- 將 myblog 布署至 Heroku</dd>
    <dt><b>Day 2:</b></dt>
      <dd>- 建立 models: Author, Post, Comment</dd>
      <dd>- 建立並載入 fixtures</dd>
      <dd>- 新增首頁及 About 頁面</dd>
  </dl>
  <br>
  <dl>
  	<dt><b>Reference</b></dt>
  	  <dd><a href="https://mac.install.guide/ruby/index.html">Install Ruby 3.0 · macOS Big Sur or Catalina</a></dd>
  	  <dd><a href="https://guides.rubyonrails.org/getting_started.html">Getting Started with Rails</a></dd>
  	  <dd><a href="https://devcenter.heroku.com/articles/getting-started-with-rails6">Getting Started on Heroku with Rails 6.x</a></dd>
  	  <dd><a href="https://medium.com/@thorntonbrenden/ruby-on-rails-switch-from-sqlite3-to-postgres-590009645c25">Ruby on Rails: Switch from sqlite3 to Postgres</a></dd>
  	  <dd><a href="https://deallen7.medium.com/ruby-on-rails-app-build-blog-3d9975a999ae#aecc">How to Build a Blog with Ruby on Rails</a>
  	  <dd><a href="https://railsbook.tw/">為你自己學 Ruby on Rails (電子書)</a></dd>
  	  <dd><a href="https://devhints.io/rails-models">Rails models cheatsheet</a></dd>
  </dl>

  <br><br>

 </body>

</html>

<%= link_to 'Back to Home', root_path %>