<!DOCTYPE html>

<html>
 <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
</html>

<html>
 <body>
  <h1 align="center"><I>關於本部落格</I></h1>
  <h3 align="center">
  	這是我第一次寫部落格，也是我第一次使用 Ruby on Rails，主要是用來 demo 學習成果。
  </h3>
  <br><br><br>
  
  <h3 align="center">
    <a href="https://github.com/fira1026/myblog"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/vincent-huang-6206515"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/fira1026"><i class="fa fa-facebook"></i></a>
  </h3>
  <hr>
  <dl>
  	<dt><h2><b>Reference</b></h2></dt>
  	  <dd><a href="https://mac.install.guide/ruby/index.html">Install Ruby 3.0 · macOS Big Sur or Catalina</a></dd>
  	  <dd><a href="https://guides.rubyonrails.org/getting_started.html">Getting Started with Rails</a></dd>
  	  <dd><a href="https://devcenter.heroku.com/articles/getting-started-with-rails6">Getting Started on Heroku with Rails 6.x</a></dd>
  	  <dd><a href="https://medium.com/@thorntonbrenden/ruby-on-rails-switch-from-sqlite3-to-postgres-590009645c25">Ruby on Rails: Switch from sqlite3 to Postgres</a></dd>
  	  <dd><a href="https://deallen7.medium.com/ruby-on-rails-app-build-blog-3d9975a999ae#aecc">How to Build a Blog with Ruby on Rails</a>
  	  <dd><a href="https://railsbook.tw/">為你自己學 Ruby on Rails (電子書)</a></dd>
  	  <dd><a href="https://devhints.io/rails-models">Rails models cheatsheet</a></dd>
  </dl>
 </body>
</html>